@font-face {
  font-family: 'Letreiro';
  font-style: normal;
  font-weight: normal;
  src: local('Letreiro'), url('../../static/fonts/Letreiro.otf') format('truetype');
}

body {
	background-color: #000000;
}
.section {
}
.slide {
	position: relative;
}
.slide .logo {
	background: url('../../static/img/logo.png') no-repeat;
	height: 53px;
	width: 79px;
	position: absolute;
	top: 150px;
	left: 100px;

	z-index: 999;
}
.slide .slide_img {
	height: auto;
	width: 1920px;
}
.slide .footer {
	height: 103px;
}
.slide .footer .tetris {
	background: url('../../static/img/tetris_logo.png')50px 50px no-repeat;
	height: 100%;
	width: 100%;
}
.slide .block {
	width: 450px;
	position: absolute;
	bottom: 30%;
	right: 10%
}
.slide .block h1 {
	font-family: 'Letreiro', sanserif;
	font-weight: bold;
	font-size: 120px;
	color: #fff;
}
.slide .block hr {
	color: #fff;
}
.slide .block h2 {
	font-family: 'Letreiro', sanserif;
	font-size: 36px;
	color: #fff;
}
.slide .block p {
	font-size: 13px;
}
